<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= Sinatra.options.name %><%= " - #{@post.title}" unless @post.nil? %><%= " - #{@page.title}" unless @page.nil? %></title>
    <link rel="stylesheet" href="/base.css" type="text/css" media="screen" title="base" charset="utf-8">
    <link rel="alternate" type="application/rss+xml" title="<%= Sinatra.options.name %> Atom Feed" href="<%= Sinatra.options.base_url %>/feed/" />
  </head>
  <body>
    <div id="header">
      <h1><%= link_to Sinatra.options.name, "/" %></h1>
      <small><%= Sinatra.options.title %></small>
    </div>
    <div id="content">
<%= yield %>
    </div>
    <div id="about">
      <h4>about</h4>
      <p>this is the home of <%= Sinatra.options.author_name %>.</p>
      <h4>i talk about <%= tag_list @tags %></h4>
    </div>
    <div id="footer">powered by <%= link_to "bliki", "http://github.com/bomberstudios/bliki" %></div>
    <%= reinvigorate unless development? %>
  </body>
</html>