      <div class="<%= @post.class.to_s.downcase %>">
        <h2 class="title"><%= @post.title %></h2>
        <small>posted on <%= @post.date %> by <%= Sinatra::Application.author_name %>, tagged with <%= tag_list @post.tags %></small>
        <div class="body">
          <%= @post.content %>
        </div>
        <%= disqus if Sinatra::Application.use_comments %>
        <%= post_navigation %>
      </div>
      <!-- .post -->
      <div class="admin"><a href="<%= @post.edit_link %>" accesskey="e">edit</a></div>
      <div class="admin"><a href="/new" accesskey="n">new</a></div>